:root {
	--base-color: #795548;
}

* {
	font-family: "Roboto";
	font-weight: 400;
}

body {
	background-color: #eeeeee;
}

hr {
	border: 0;
  height: 1px;
  background: #bbbbbb;
}

.buttonstack button {
	user-select: none;
	display: block;
	background-color: #aaaaaa;
	transition: background-color 0.4s, border-bottom 0.4s;
  border: none;
  color: white;
	width: 48px;
	height: 48px;
  padding: 12px;
	border-bottom: 2px solid #999999;
  text-align: center;
	line-height: 24px;
  text-decoration: none;
  font-size: 24px;
}

.buttonstack button:hover{
	background-color: #bd0505;
	border-bottom: 2px solid #6b0000;
}

.flex-container#main-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: nowrap;
	align-items: flex-start;
	overflow: visible;
	padding: 5px;
}

.pane {
	flex-basis: auto;
	/* default value */
	word-wrap: break-word;
	background-color: #dedede;
	margin: 5px;
	padding: 10px;
}

.pane h1 {
	background-color: #795548;
	margin-top: 0px;
	padding: 5px;
	text-shadow: 2px 2px #533b32;
	border-bottom: 3px solid #533b32;
	font-size: 36px;
	color: #eeeeee;
	font-weight: 200;
	text-align: left;
}

.pane#menu {
	flex-grow: 1;
	flex-basis: 40%;
}

.pane#grid-pane {
	flex-basis: 60%;
}

.accordion {
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: background-color 0.2s;

}

.accordion.main{
	background-color: #bbbbbb;
	color: #eeeeee;
	padding: 8px;
	font-size: 24px;
}

.accordion.main:after {
	/*content: '\02795'; /* unicode '+' */
	content: "▽";
	text-align: center;
	font-size: 20px;
	color: #eeeeee;
	float: right;
}

.accordion.main[open]:after {
	content: "△";
}

.accordion:hover {
	background-color: #aaaaaa;
}

.accordion[open] {
	background-color: #a4a4a4;
}

.accordion[open]:hover {
	background-color: #999999;
}

.accordion-pane {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out, padding 0.3s, border-bottom 0.2s;
}

.accordion-pane.main{
	background-color: #ededed;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 2px solid #a4a4a4;
}

.accordion-pane[open]{
	transition: max-height 0.2s ease-in, padding 0.3s;
	max-height: 800px;
	overflow: scroll;
}

.accordion-pane.main[open] {
	padding: 10px;
	padding-bottom: 0px;
	border-bottom: 2px solid #dddddd;
}

.info-pane {
	max-height: 400px;
	background-color: #cccccc;
	padding: 5px;
	margin: 0px;
	margin-bottom: 10px;
}

.info-pane h2 {
	color: #eeeeee;
	font-size: 18px;
	padding: 5px;
	margin: 0px;
	border-bottom: 2px solid;
}

.mat-button {
	background-color: #606060;
	transition: background-color 0.2s;
	border: none;
	color: white;
	margin: 5px;
	margin-left: 0px;
	padding: 5px 16px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
}

.mat-button:focus, .mat-button:hover {
	background-color: #c16969;
}

.mat-button[useable=true] {
	background-color: #138b20;
}

.mat-button[open] {
	margin: 0px;
}

.mat-button[useable=true]:hover {
	background-color: #2cd023;
}

.mono{
	font-family: "Roboto Mono";
	margin-left: 5px;
}

.mat-abutton {
	font-size: 18px;
	padding: 5px;
	margin: 0px;
}

.mat-stats {
}

progress[value]{
	-webkit-appearance: none;
	appearance: none;
	height: 20px;
	margin-bottom: -1px;
	float: right;
}

progress[value]::-webkit-progress-bar{
	background-color: #eeeeee;
	border: 2px solid #bbbbbb;
}

progress[value]::-webkit-progress-value{
	background-color: #99aaee;
}

canvas {
	display: inline;
	margin-top: -144px;
	margin-left: 54px;
	border: 3px solid #aaaaaa;
	padding: 0;
	user-select: none;
}

@keyframes glowbox {
		0% {box-shadow: 0px 0px 2px #00b934;}
		100% {box-shadow: 0px 0px 24px #00ff0a;}
}

*[new]{
	animation-name: glowbox;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border: 2px solid #00b934 !important;
}